GOOGLE_APPLICATION_CREDENTIALS=/secrets/gcp.json
SLACK_WEBHOOK_BASE_URL=http://host.docker.internal:9000/slack/webhook
GCP_KEY_PATH=/path/to/service.json
PARQUET_PATH=/path/to/monthly_account_status.parquet